@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --very-light-gray: hsl(0, 0%, 95%);
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  place-content: center;
  background-color: var(--very-light-gray);
  font-size: 15px;
  font-family: "Lexend Deca";
  color: var(--transparent-white);
  padding: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.card {
  padding: 2rem;
  max-width: 450px;
}

.card h2 {
  font-size: 2rem;
  font-family: "Big Shoulders Display";
  font-weight: 700;
  color: var(--very-light-gray);
  text-transform: uppercase;
}

.card:first-of-type {
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.card:last-of-type {
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 0rem;
  border-bottom-left-radius: 1rem;
}

.link {
  display: block;
  width: fit-content;
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  border-radius: 50px;
  border: 1px solid transparent;
  background-color: var(--very-light-gray);
  transition: all 0.2s ease-in-out;
}

.link:active,
.link:hover {
  border: 1px solid var(--very-light-gray);
  color: var(--very-light-gray);
  background-color: transparent;
}

.txt-bright-orange {
  color: var(--bright-orange);
}

.bg-bright-orange {
  background-color: var(--bright-orange);
}

.txt-dark-cyan {
  color: var(--dark-cyan);
}

.bg-dark-cyan {
  background-color: var(--dark-cyan);
}

.txt-very-dark-cyan {
  color: var(--very-dark-cyan);
}

.bg-very-dark-cyan {
  background-color: var(--very-dark-cyan);
}

@media only screen and (min-width: 1144px) {
  body {
    min-height: 100vh;
  }
  main {
    flex-direction: row;
    width: 50%;
    place-content: center;
    margin: auto;
  }

  .card p {
    min-height: 190px;
  }

  .card:first-of-type {
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 0rem;
    border-top-left-radius: 1rem;
  }

  .card:last-of-type {
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 0rem;
  }
}
